@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');


body{
    background-color: white;
    background-image:url("/img/background.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
h1{
    background-color:yellow; 
    text-align: center;
    border:black;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    
    

}
p{
    background-color: white;
    
}

.sampleId{
    background-color: red;
    text-align: center;
    border: 6cm;

}
#hello{

background-color: blueviolet;

}
.Health{
   background-color: rgb(212, 208, 218);
   text-align: center;
   margin: 90px;
   
   padding: 100px 200px 100px 200px ;
   
   border:  12px solid red;
}
.Box01{
    background-color: rgb(230, 230, 23);
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80%;
    position: fixed;
    /*z-index: -1;*/

}
.Box02{
    background-color: rgb(143, 5, 5);
    height: 250px;
    width: 250px;
    top: 100px;
}

